HOST_IP={{ hostvars[inventory_hostname][NET.pub_eth_interface]['ipv4']['address'] }}

MYSQL_PASSWORD=nova
RABBIT_PASSWORD=nova
SERVICE_TOKEN=nova
SERVICE_PASSWORD=nova
ADMIN_PASSWORD=nova

MULTI_HOST=1
GIT_BASE=https://github.com

LOGFILE=/home/vagrant/workspace/logs/stack.sh.log
SCREEN_LOGDIR=/home/vagrant/workspace/logs

IMAGE_URLS="http://download.cirros-cloud.net/0.3.2/cirros-0.3.2-x86_64-uec.tar.gz"


